.footer {
  background-image: url(./images/background.png);
  color: #fff;
  padding: 30px;
  text-align: center;
  border-top:#fff 2px solid;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.footerLogo {
  width: 80px;
  height: 80px;
  margin-right: 14px;
}

.footerInfo {
  text-align: center;
}

.footerTitle {
  font-size: 42px;
  margin-bottom: 2px;
  letter-spacing: 0.8rem;
  font-family: 'Velour-Bold', sans-serif;
}

.footerSubtitle {
  font-size: 10px;
  font-family: 'Brandon', sans-serif;
  letter-spacing: 0.1rem;
}

.footerContacts {
  margin-bottom: 30px;
  font-family: 'Brandon', sans-serif;
  letter-spacing: 0.1rem;
}

.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.contactItem {
  margin: 0 10px;
}

.contactItem a {
  color: #fff;
  text-decoration: none;
}

.icon {
  margin-right: 5px;
}

.footerRights {
  font-size: 1.1rem;
  font-family: 'Brandon', sans-serif;
  letter-spacing: 0.1rem;
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
  }

  .footerLogo {
    margin-bottom: 10px;
  }

  .contactList{
    flex-direction: column;
  }

  .contactItem{
    margin-bottom: 10px;
  }
}
