@import './fonts/fonts.css';

html {
    line-height: 1.15;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "RocknRoll One", sans-serif;
  }

  .nav-div {
    background-color: #883f08;
    height: 70px; /* Adjust the height as per your requirements */
  }

  .title {
    font-family: 'Velour-Bold', sans-serif;
    font-size: 90px;
    color: white;
    letter-spacing: 15px;
  }

  .subheading {
    font-family: Arial, sans-serif; 
    font-size: 20px;
    color: white;
  }

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1440px; */ 
    height: 600px;
    background-image: url('./images/home3.png');
    background-size: cover;
    background-attachment: fixed;
  }
  
  .content {
    text-align: center;
  }
  
  .sectionTwoBg{
    background-image: url('./images/home2.png');
  }

  .sectionThreeBg{
    /* background-image: url('./images/home4.png');*/
     background-color: rgba(0, 0, 0, 0.9); 
  }