@import './fonts/fonts.css';

  .nav-div {
    background-color: #883f08;
    height: 40px;
    border-bottom: 3px solid white;
  }


  
  .sectionTwoBg{
    background-image: url('./images/home2.png');
  }

  .sectionThreeBg{
    background-image: url('./images/section3.png');
     background-color: rgba(0, 0, 0, 0.9); 
     height:100vh;
  }