/* Section2.module.css */
@import './fonts/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.sectionTwoBg{
  background-image: url(./images/background.png);
  min-height: 100vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.carouselContainer {
  width: 90%; 
  min-height: 100vh !important;
  margin: 0px auto;
}

.carousel {
  width: 100% !important;
  height: 100% !important;
}

.carouselItem {
  position: relative;
  height: 100vh !important;
  display: flex;
  align-items: flex-end;
}

.carouselItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselCaption {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.carouselCaption h2 {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 5px;
  font-family: 'Brandon', sans-serif;
  backdrop-filter: blur(10px); /* Increase the blur value as desired */
  background-color: rgba(19, 18, 18, 0.4);
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  letter-spacing: 0.4rem;
}

.carouselCaption p {
  font-size: 1rem;
  font-family: 'Brandon', sans-serif;
}

.carousel .control-arrow.carousel__arrow--left,
.carousel .control-arrow.carousel__arrow--right {
  color: white;
}

.carousel .control-arrow.carousel__arrow--left:before,
.carousel .control-arrow.carousel__arrow--right:before {
  border-color: white;
}

.carouselContainer:hover {
  cursor: pointer;
}

.imageOverlay {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

/* Media query*/
@media (max-width: 768px) {
  .sectionTwoBg {
    min-height: 50vh; /* Adjust the height of the section */
    padding-top: 2vh; /* Adjust the top padding */
    padding-bottom: 2vh; /* Adjust the bottom padding */
  }

  .carouselContainer {
    min-height: 50vh !important;
  }
  
  .carousel {
    height: 50% !important;
  }
  
  .carouselItem {
    height: 50vh !important;
  }

  .carouselCaption {

    bottom: 25px;

  }

  .carouselCaption h2 {
    font-size: 2vw;
    letter-spacing: 0.1rem; /* Remove the letter spacing */
  }

  .carouselCaption p {
    font-size: 10px;
    letter-spacing: 0;
    margin-bottom: 10px; 
  }
}

