@import './fonts/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.sectionTwoBg {
  background-image: url(./images/background.png);
  min-height: 100vh;
  padding: 15vh 6vw 0 6vw;
}

.carouselContainer {
  min-height: 100vh !important;
  margin: 0 auto;
}

.carousel {
  width: 100% !important;
  height: 100% !important;
  transition: transform 0.8s ease-in-out;
}

.carousel .slide {
  transition: opacity 0.5s ease-in-out;
}

.carousel .slide.animated {
  transition-delay: 0.2s;
}

.carousel .control-dots {
  bottom: 3vh;
}

.carousel .control-dots .dot {
  background: white;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.carousel .control-dots .dot.selected {
  opacity: 1;
}

.carouselItem {
  position: relative;
  height: 100vh !important;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.carouselItem:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, rgba(119, 118, 118, 0.203) 0%, rgba(0, 0, 0, 0.3) 100%); */
  z-index: 1;
}

.carouselItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carouselCaption {
  position: absolute;
  bottom: 8vh; /* Updated unit to vh */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.carouselCaption h2 {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 5px;
  font-family: 'Helvetica', sans-serif;
  backdrop-filter: blur(10px);
  background-color: rgba(19, 18, 18, 0.4);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  letter-spacing: 0.4rem;
}

.carouselCaption p {
  font-size: 1rem;
  font-family: 'Helvetica', sans-serif;
}

.carousel .control-arrow.carousel__arrow--left,
.carousel .control-arrow.carousel__arrow--right {
  color: white;
}

.carousel .control-arrow.carousel__arrow--left:before,
.carousel .control-arrow.carousel__arrow--right:before {
  border-color: white;
}

.carouselContainer:hover {
  cursor: pointer;
}

.imageOverlay {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

@media (max-width: 768px) {
  .sectionTwoBg {
    min-height: 50vh;
  }

  .carouselContainer {
    min-height: 50vh !important;
  }

  .carousel {
    height: 50% !important;
  }

  .carouselItem {
    height: 50vh !important;
  }

  .carouselCaption {
    bottom: 2vh; /* Updated unit to vh */
  }

  .carouselCaption h2 {
    font-size: 2vw;
    letter-spacing: 0.1rem;
  }

  .carouselCaption p {
    font-size: 10px;
    letter-spacing: 0;
    margin-bottom: 10px;
  }
}
