@import './fonts/fonts.css';

.container {
  background-image: url(./images/background.png);
  padding: 15vh 4.5vw 15vh 4.5vw;
}

.row{
    display:flex;
    flex:1;
}

.row > div {
  flex: 1 1 50%;
  height: 70vh;
  margin: 3vw;
  border: 0.5px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative; /* Add position relative */
}

  .div1 {
    background-image: url(./images/decor.png);
  }
  
  .div3 {
    background-image: url(./images/apparel.png);
  }

 .div2 {
    background-image: url(./images/crafts.png);
  }
  
.div4 {
    background-image: url(./images/jewellery.png);
  }

  .content {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }

  .content h2 {
    font-size: 1.1rem;
    margin: 0;
    font-family: 'Brandon', sans-serif;
    letter-spacing: 0.5rem;
    color: #fff;
    background-color: rgba(19, 18, 18, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
  }

  @media (max-width: 768px) {
    .row{
      flex-direction: column;
      height:140vh;
    }

  }