@import './fonts/fonts.css';

.section {
    display: flex;
    height: 400px;
  }

  .section__item:nth-child(1) {
    position: relative;
  }
  
  .section__item:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(310deg, rgb(25, 10, 1) 0%, rgba(54,25,4,1) 35%, rgba(65,31,6,1) 70%, rgb(48, 22, 2) 100%);
    /* background: url('./images/seal_logo.png') center/cover no-repeat; */
    z-index: -1;
  }
  
  
  
  
  .section__item .heading,
  .section__item .paragraph {
    position: relative;
    z-index: 1;
  }
  
  
  .section__item:nth-child(2) {
    /* background-image: url('./images/home3.png'); */
    background-color: black;
  }
  
  .section__item {
    flex: 1;
    padding: 20px;
    background-size: cover;
    background-position: center;
  }
  
  .section__item .heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#fff;
    font-family: 'Velour-Bold', sans-serif;

  }
  
  .section__item .paragraph {
    color:#fff;
    font-family: "RocknRoll One", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    flex:1;
    padding-right: 50px;
  }

  .section__content{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  .section__item:nth-child(1) .section__image {
    max-width: 160px; /* Added */
    height: auto; /* Added */
    margin: auto 20px; /* Added */
    flex: 1;
  }

  .section__item:nth-child(2) .section__image {
    width:400px;
    height:130px;
    text-align: center;
  }

  .centerImage{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }