@import './fonts/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/background.png);
  min-height: 100vh;
  flex-direction: column;
  padding: 15vh 6vw 15vh 6vw;
}

.heading {
  font-size: 3vw; /* Updated with vw unit */
  font-weight: bold;
  color: #fff;
  font-family: 'Velour-Bold', sans-serif;
  text-align: center;
  letter-spacing: 0.4rem;
  margin: 6vh 0;
}

.paragraph {
  font-size: 1rem;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  text-align: justify;
  max-width: 800px;
  flex: 1;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  margin-bottom: 2vh; /* Updated with vh unit */
  text-align: center;
  width: 25vw; /* Updated with vw unit */
  height: 25vw; /* Updated with vw unit */
  max-width: 150px;
  max-height: 150px;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Responsive Styles */

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    min-height: 50vh;
    padding: 10vh 6vw; /* Adjust padding as needed */
  }

  .heading {
    font-size: 1.5rem; /* Updated with vw unit */
    margin: 3vh 0; /* Adjust margin as needed */
  }

  .paragraph {
    font-size: 1rem; /* Updated with vw unit */
    line-height: 1.5;
    max-width: 90%; /* Adjust max-width as needed */
  }

  .imageContainer {
    width: 30vw; /* Updated with vw unit */
    height: 30vw; /* Updated with vw unit */
    max-width: 200px;
    max-height: 200px;
  }
}
