.section5container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align the card to the right */
  /* text-align: center; */
  background-image: url('./images/package.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.text {
  font-family: 'Helvetica', sans-serif;
  color: white;
  width: 150px;
  font-size: 1.2rem;
  margin-bottom: 40px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  letter-spacing: 0.2rem;
  word-break: break-word;
  line-height: 1.5;
  border-left: #fff 2px solid;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .section5container {
    height: 60vh;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .text {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    border-left: none;
    border-radius: 1rem;
    background-image: url(./images/background.png);
    padding: 5vw;
    width: 70vw;
    border: 0.5px solid white;
  }

}
